NODE_ENV="development"
PORT=8080
API_PREFIX="/api/v1"
APP_NAME="ChatRealtime API"
LOG_LEVEL="info"

CORS_ORIGINS="http://localhost:5173,http://localhost:5174"

DATABASE_URL="postgresql://postgres:14752369@localhost:5432/chat_app?schema=public"
REDIS_URL="redis://localhost:6379"
REDIS_ENABLE=true
ADMIN_EMAILS="admin@example.com"
RTC_ICE_SERVERS="stun:stun.l.google.com:19302,stun:stun1.l.google.com:19302,turn:turn.example.com:3478"
RTC_TURN_USERNAME=""
RTC_TURN_CREDENTIAL=""

JWT_ACCESS_SECRET="replace_with_at_least_32_characters_access_secret"
JWT_REFRESH_SECRET="replace_with_at_least_32_characters_refresh_secret"
JWT_EMAIL_VERIFY_SECRET="replace_with_at_least_32_characters_email_verify_secret"
JWT_RESET_PASSWORD_SECRET="replace_with_at_least_32_characters_reset_password_secret"
